# Создайте файл .env из копии этого файла и замените значения переменных реальными данными

# Секретный ключ, используемый для криптографических подписей.
SECRET_KEY=your-secret-key-here

DEBUG=

# Вставьте свои значения для работы с базой данных.
NAME=
USER=
PASSWORD=
HOST=
PORT=

# Вставьте свои значения для работы с почтой.
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=