{% extends 'blogs/base.html' %}
{% block title %}Блог Садовода{% endblock %}
{% load my_tags %}
{% block content %}
<div class="row text-center">
    <div class="col-6">
        <div class="card mb-4" style="max-width: 600px;">
            <div class="card-header bg-dark">
                <ul class="nav nav-tabs card-header-tabs">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Редактировать</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Удалить</a>
                    </li>
                </ul>
            </div>
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="{{ blog.image | media_filter }}" class="img-fluid rounded-start" style="height: 250px;">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title fs-3">{{ object.title }}</h5>
                        <p class="card-text">{{ object.content }}</p>
                        <a class="btn btn-primary" href="{% url 'blogs:blog_list' %}">Назад</a>
                        <p class="card-text text-end"><small class="text-body-secondary">{{ object.created_at|date:"d.m.Yг." }}</small></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
