{% extends 'catalog/base.html' %}
{% block title %}Много цветов{% endblock %}
{% load my_tags %}
{% block content %}
{% include 'catalog/includes/page_title.html' %}
<div class="container">
    <div class="row">
        <div class="col-4">
            <form class="row" method="post" enctype="multipart/form-data">
                <div class="card">
                    <div class="card-body">
                        <p class="card-text text-center fs-4 fw-bold">Вы действительно хотите удалить цветок "{{ object.name }}"</p>
                        <img src="{{ product.photo | media_filter }}" class="img-fluid rounded-start" style="height: 250px;">
                        {% csrf_token %}
                    </div>
                    <div class="card-header">
                        <ul class="nav nav-tabs">
                            <li class="nav-item">
                                <button type="submit" class="btn btn-primary" >Удалить</button>
                            </li>
                            <li class="nav-item">
                                <a class="btn btn-primary" href="{% url 'catalog:product_list' %}">Отменить</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}