{% extends 'catalog/base.html' %}

{% block title %}Много цветов{% endblock %}

{% block content %}

{% include 'catalog/includes/page_title.html' %}

<div class="container">
    <div class="row">
        <div class="col-4">
            <form class="row" method="post" enctype="multipart/form-data">
                <div class="card">
                    {% if object %}
                    <p class="card-text text-center fs-4 fw-bold">Редактировать продукт</p>
                    {% else %}
                    <p class="card-text text-center fs-4 fw-bold">Создать продукт</p>
                    {% endif %}
                    <div class="card-body">
                        {% csrf_token %}
                        {{ form.as_p }}
                    </div>
                    <div class="d-grid gap-2 d-md-block">
                        <button type="submit" class="btn btn-primary col-sm-6" >
                            {% if object %}
                            Сохранить
                            {% else %}
                            Создать
                            {% endif %}
                        </button>
                        <a class="btn btn-outline-primary" href="{% url 'catalog:product_list' %}" role="button">Назад</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}